.Header {
    position: fixed; 
    width: 100%;
    padding: 50px 0;
    z-index: 100;
}

.HeaderGroup {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-items: center;
}

.Header a {
    color: white;
    font-weight: 700px;
}

.Header button {
    width: 70px;
    height: 40px;
    padding: 8px, 20px;
    font-size: 20px;
    background: #56CCF2;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Header button:hover {
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
    transform: translateY(-3px);
}

@media (max-width: 640px) {
    .Header {
        padding: 15px 0;
    }

    .HeaderGroup {
        grid-template-columns: repeat(4, auto);
    }

    .Header a:nth-child(4) {
        display: none;
    }
}

.Hero .Logos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 40px;
    margin: 100px 0;
    justify-items: center;
  }
  
  @media (max-width: 640px) {
    .Hero .Logos {
      grid-template-columns: repeat(3, 1fr);
    }
  }